.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  background-color: #fff;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0px rgb(0 0 0 / 30%);
}

.title {
  text-transform: uppercase;
  color: rgb(70, 65, 65);
  font-size: 20px;
}

.stat_list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 3px;
  width: 48px;
}
